/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

.clear-div {
  content: "";
  clear: both;
  display: table;
}
/* header */

header {
  width: 100%;
  height: 160px;
  background-color: #1d2a35;
}

.logo-link {
  display: flex;
}

.logo-link img {
  height: 60px;
}

.logo-link nav ul li {
  list-style-type: none;
  float: left;
  margin-top: 20px;
}

.logo-link nav ul li a {
  text-decoration: none;
  color: #fff;
  margin-left: 10px;
  font-size: 20px;
}

.head-a {
  color: #fff;
  text-decoration: none;
}

.logo-link nav ul li a:hover {
  background-color: #04a96d;
}

.icon-btn {
  float: right;
  left: 10px;
  top: 200px;
}

.icon-btn i {
  color: #fff;
  font-size: 20px;
  margin-left: 10px;
}

.icon-btn button {
  width: 120px;
  height: 50px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 10px;
  border: none;
}

.pro-btn {
  background-color: #1d2a35;
  color: #fff;
}

.pro-btn:hover {
  background-color: #04a96d;
}

.website-btn {
  background-color: #fec0c7;
}

.website-btn:hover {
  background-color: #04a96d;
  color: #fff;
}

/* learn code */

.learn-code {
  width: 100%;
  background-color: #0d1721;
  text-align: center;
}

.search-bg {
  background-color: dodgerblue;
  color: #fff;
  float: right;
  height: 50px;
  width: 50px;
  text-align: center;
  font-size: 40px;
}

#inp1 {
  float: right;
  height: 50px;
  width: 800px;
}

.learn-code h1 {
  font-size: 70px;
  color: #fff;
}

.learn-code p {
  color: #fec0c7;
  font-size: 30px;
  font-weight: bold;
}

#inp2 {
  height: 50px;
  width: 600px;
  border-radius: 20px;
}
#inp2::placeholder {
  text-align: center;
}

.learn-code a {
  color: #fff;
  font-size: 26px;
  font-weight: bold;
}

.learn-code a:hover {
  color: #04a96d;
}

/* same line */

.same-line {
  text-align: center;
}

.same-line h1 {
  font-size: 90px;
}

.same-line p {
  font-size: 24px;
  font-weight: bold;
}

.same-line button a {
  text-decoration: none;
}

.same-line button {
  width: 220px;
  height: 40px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  border: none;
}

.green-btn {
  background-color: #04a96d;
}

.green-btn:hover {
  background-color: #02744a;
}

.yellow-btn {
  background-color: #fef07f;
}

.yellow-btn:hover {
  background-color: #e4d03d;
}

.black-btn {
  background-color: #000;
  color: #fff;
}

.black-btn:hover {
  background-color: rgb(41, 39, 39);
}

.pink-btn {
  background-color: #ffb3bb;
}

.pink-btn:hover {
  background-color: #f18d97;
}

/* 2 columns section */

.first-half {
  width: 50%;
  text-align: center;
  background-color: #fec0c7;
  font-weight: bold;
  float: left;
}

.first-half button {
  width: 220px;
  height: 40px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  border: none;
}

.first-half button a {
  color: #fff;
  text-decoration: none;
}

.second-half {
  width: 50%;
  text-align: center;
  background-color: #fef07f;
  font-weight: bold;
  float: left;
}

.second-half button {
  width: 220px;
  height: 40px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  border: none;
}

.second-half button a {
  color: #fff;
  text-decoration: none;
}

/* just 1 */

.first-side {
  width: 50%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  float: left;
  margin-top: 15px;
}

.first-side h3 a {
  color: #000;
  text-decoration: none;
}

.second-side {
  width: 50%;
  text-align: center;
  font-size: 20px;

  margin-top: 15px;

  font-weight: bold;
  float: left;
}

.second-side h3 a {
  color: #000;
  text-decoration: none;
}

/* 4 column */
.row {
  margin-top: 15px;
}
.col-1 {
  width: 25%;
  text-align: center;
  font-size: 20px;

  font-weight: bold;
  float: left;
}

.col-2 {
  width: 25%;
  text-align: center;
  font-size: 20px;

  font-weight: bold;
  float: left;
}

.col-3 {
  width: 25%;
  text-align: center;
  font-size: 20px;

  font-weight: bold;
  float: left;
}

.col-4 {
  width: 25%;
  text-align: center;
  font-size: 20px;

  font-weight: bold;
  float: left;
}

.for-a {
  color: #000;
  text-decoration: none;
}

/* code editor */

.code-edit {
  background-color: #000;
  width: 100%;
  text-align: center;
}

.code-edit h1 {
  color: #fff;
  font-size: 70px;
}

.code-edit p {
  color: #fff;
  font-size: 26px;
  font-weight: bold;
}

.code-edit button {
  width: 400px;
  height: 40px;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.code-edit button a {
  text-decoration: none;
  color: #fff;
}

.front-btn {
  background-color: #04a96d;
}

.back-btn {
  background-color: #fef07f;
  color: #000;
}

/* space */

.space {
  background-image: linear-gradient(
      rgba(29, 48, 43, 0.8),
      rgba(29, 48, 43, 0.8)
    ),
    url(images\ /w3_space.avif);
  background-position: center;
  background-size: cover;
  width: 100%;
}

.space-cont {
  text-align: center;
}

.space-cont h1 {
  color: #fff;
  font-size: 70px;
}

.space-cont p {
  color: #fff;
  font-size: 26px;
  font-weight: bold;
}

.space-cont button {
  width: 300px;
  height: 60px;
  background-color: #04a96d;

  border-radius: 30px;
}

.space-cont button a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border: none;
  outline: none;
}

.space-cont h2 {
  color: #fff;
  font-size: 36px;
}

.space-cont ol li {
  color: #fff;
  font-size: 26px;
  display: inline;
}

/* color picker */

.color-picker {
  background-color: #f3ece9;
  width: 100%;
  text-align: center;
}

.color-picker h1 {
  color: #000;
  font-size: 70px;
}

.color-picker p {
  color: #000;
  font-size: 26px;
  font-weight: bold;
}

.color-picker img {
  cursor: pointer;
}

/* play game */

.code-game {
  width: 100%;
  background-color: #95d4d4;
  text-align: center;
}

.code-game h1 {
  color: #000;
  font-size: 70px;
}

.code-game p {
  color: #000;
  font-size: 26px;
  font-weight: bold;
}

.code-game a .play-btn {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.play-btn {
  width: 400px;
  height: 30px;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 30px;
  background-color: #000;
  transition: 0.4s;
}

.play-btn:hover {
  background-color: #020202;
}

/* e & q */

.eq {
  width: 100%;
  background-color: #222632;
  text-align: center;
}

.eq h1 {
  color: #fff;
  font-size: 70px;
}

.eq p {
  color: #fff;
  font-size: 26px;
  font-weight: bold;
}

.eq a .ex-btn {
  width: 400px;
  height: 200px;
  text-decoration: none;
  color: #fff;
  background-color: #04a96d;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.eq a .quiz-btn {
  width: 400px;
  height: 200px;
  text-decoration: none;
  color: #fff;
  background-color: #ecd949;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

/* templates */

.tem {
  width: 100%;
  text-align: center;
  background-color: #37444d;
}

.tem h1 {
  color: #fff;
  font-size: 70px;
}

.tem p {
  color: #fff;
  font-size: 26px;
  font-weight: bold;
}

.tem a img {
  width: 900px;
  height: 300px;
}

.tem a .browse-btn {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.browse-btn {
  width: 400px;
  height: 30px;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 30px;
  background-color: #000;
  transition: 0.4s;
}

.browse-btn:hover {
  background-color: #020202;
}

/* kick */

.kick {
  width: 100%;
  text-align: left;
  background-color: #0d1721;
}

.kick h1 {
  color: #f18d97;
  font-size: 60px;
}

.kick h2 {
  color: #f18d97;
  font-size: 50px;
  font-weight: bold;
}

.kick a .get1-btn {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.get1-btn {
  width: 200px;
  height: 60px;

  border: none;
  border-radius: 30px;
  background-color: #04a96d;
  transition: 0.4s;
}

.browse-btn:hover {
  background-color: #02744a;
}

/* how to */

.how-to {
  width: 100%;
  text-align: center;
  background-color: #1d2a35;
}

.how-to h1 {
  font-size: 70px;
  color: #fff;
}

.how-to p {
  color: #fff;
  font-size: 26px;
  font-weight: bold;
}

.how-to a img {
  width: 600px;
  height: 200px;
}

.how-to a .how-btn {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.how-btn {
  width: 400px;
  height: 30px;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 30px;
  background-color: #000;
  transition: 0.4s;
}

.how-btn:hover {
  background-color: #020202;
}

/* footer */

footer {
  width: 100%;
  background-color: #0d1721;
}

.leftDiv a .foot-btn {
  width: 100px;
  height: 40px;
  background-color: #0d1721;
  color: #fff;
  float: left;

  font-weight: bold;
  cursor: pointer;
}

.leftDiv a .foot-btn:hover {
  background-color: #2c2c2c;
}

.rightDiv a {
  float: right;
  margin-right: 5px;
  text-decoration: none;
  color: #fff;
}

.rightDiv a:hover {
  color: #04a96d;
}

.icons {
  text-align: center;
}

.icons a {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  margin-right: 10px;
}

.icons a:hover {
  background-color: #fff;
  color: #000;
}

.foot-para {
  text-align: center;
  margin-top: 15px;
  color: #fff;
  font-weight: bold;
}

.foot-para a {
  color: #fff;
}

.foot-para a:hover {
  color: #04a96d;
}

.like {
  font-size: 70px;
}

/* reponsive */

@media only screen and (max-width: 600px) {
  body {
    width: 760px;
  }
  .logo-link {
    flex-direction: column;
  }
  .logo-link img {
    display: none;
  }
  .icon-btn {
    margin-top: 10px;
    margin-right: 90px;
  }
}

@media only screen and (min-width: 601px) {
  body {
    width: 760px;
  }
  .logo-link {
    flex-direction: column;
  }
  .logo-link img {
    display: none;
  }
  .icon-btn {
    margin-top: 10px;
    margin-right: 260px;
  }
}

@media only screen and (min-width: 768px) {
  body {
    width: 760px;
  }
  .logo-link {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    width: 910px;
  }
  .logo-link {
    flex-direction: row;
  }

  .icon-btn {
    margin-top: 10px;
    margin-right: 410px;
  }
}
